<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1><%= folder.name%></h1>
  <div>
    <h2>Files In <%= folder.name%>: </h2>
    <% if(files.length !== 0) { %>
      <% files.forEach((file) => { %>
        <p>
          <%= file.name%> <br><br>
          <a href="/app/file/<%= file.id%>">View File Details</a><br><br>
          <a href="/app/file/download/<%= file.id%>">Download file</a>
          <a href="/app/file/delete/<%= file.id%>">Delete File</a>
        </p>
      <% }) %>
      <% } %>
    <div>
      Add files to this folder: 
      <a href="/app/file/upload/<%= folder.id%>">Upload File</a>
    </div>
    <p>
      Modify folder <a href="/app/folder/<%= folder.id%>/update">here</a>
      <br><br>
      Delete folder <a href="/app/folder/<%= folder.id%>/delete">here</a>
    </p>
  </div>
</body>
</html>